.body{
    position: relative;
}

.btn_play {
    position: absolute;
    width: 100px;
    height: 100px;
    color: rgb(240, 240, 240);
    background-color:rgb(70, 69, 69);

    top: 40%;
    left:370px;
    font-size: 70px;
    z-index: -1;
  }

.btn_next {
    position: absolute;
    width: 100px;
    height: 100px;
    color: rgb(70, 69, 69);
    background-color:rgb(255, 255, 255);
    left:80%;
    top: 45%;
    font-size: 70px;
    z-index: 10;
}

.btn_previous {
    position: absolute;
    width: 100px;
    height: 100px;
    color: rgb(70, 69, 69);
    background-color:rgb(255, 255, 255);
    top: 45%;
    left:50px;
    font-size: 70px;
    z-index: 10;
}

.playerContainer{
    position: absolute;
    width:800px;
    height:400px;
    border:none;
    border-color:rgb(255, 255, 255);
    top:10%;
    z-index: -1;
    
}

.trackInfo{
    position:relative;
    text-align: center;
    top:207px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: rgb(240, 240, 240);
    z-index: 2;
   
}

#artist{
    position: relative;
    font-size: 20px;
    top:-50px;
}
#title{
    position: relative;
    top:-35px;
    font-weight: bolder;
}
#duration{
    position: relative;
    top:83px;
    left:40px;
}
#position{
    position: relative;
    top: 70px;
    left:-45px;
}


.slyder {
    position: absolute;
    width: 50%;
    left: 25%;
    bottom: 20px;
}

/*hidden tags, act as buffer*/
#hiddenPosition{
    display:none;
    vertical-align: middle;
}
#hiddenDuration{
    display:none;
}
#mac{
    display: none;
}
