.player
	.player__list
		.player__icon.player__icon-list.icon-list
	.player__volume
		.player__icon.player__icon-volume.icon-volume
	.player__meta
		.player__song Queenie Eye
		.player__artist Paul McCartney — New
	.player__bg(style="background-image: url(https://ivanodintsov.ru/uploads/player_bg.jpg);")
	.player__controls
		.player__controls-bg(style="background-image: url(https://ivanodintsov.ru/uploads/player_bg.jpg);")
		.player__repeat
			.player__icon.player__icon-repeat.icon-repeat
		.player__prev
			.player__icon.player__icon-prev.icon-prev
		.player__play
			.player__icon.player__icon-play.icon-play
		.player__next
			.player__icon.player__icon-next.icon-next
		.player__shuffle
			.player__icon.player__icon-shuffle.icon-shuffle